{% extends 'base.html.twig' %}

{% block title %}Newsletters
{% endblock %}

{% block body %}
	<h1>Newsletters</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Date</th>
				<th>Category</th>
				<th>Subscribers</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for newsletter in newsletters %}
				<tr>
					<td>{{newsletter.id}}</td>
					<td>{{newsletter.name}}</td>
					<td>{{newsletter.createdAt|date}}</td>
					<td>{{newsletter.category.name}}</td>
					<td>{{newsletter.category.user|length}}</td>
					<td>
						{% if newsletter.isSent == false %}
							<a href="{{ path('send_newsletter', {id: newsletter.id}) }}">Send</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}
